{% extends 'base.html' %}

{% block navbarcontent %}
<a class="nav-link" href="/pitchclassset/">Pitch-Class</a>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="download-wrap">
      
      <div>
        <input type="text" id="download-key" placeholder="enter key here">
      </div>

      <br />
      
      <div>
        <button type="button" class="btn btn-outline-success" id="download-storage">Download</button>
      </div>

      <br />

      <div id="download-status">
        <span>Contact admin to get key for download.</span>
      </div>

    </div>
  </div>
</div>
{% endblock %}