{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="download-wrap">
      
      <div>
        <input type="text" id="download-key" placeholder="enter key here">
      </div>

      <br />
      
      <div>
        <button type="button" class="btn btn-primary" id="download-storage">Download</button>
      </div>

      <br />

      <div id="download-status">
        <span>Contact admin to get key for download.</span>
      </div>

    </div>
  </div>
</div>
{% endblock %}