{% extends 'base.html' %}
{% from 'macros/navbar.html' import navbar %}

{% block navbarcontent %}
{{ navbar('') }}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="download-wrap">
      
      <div>
        <input type="text" id="download-key" placeholder="enter key here">
      </div>

      <br />
      
      <div>
        <button type="button" class="btn btn-outline-success" id="download-storage">Download</button>
      </div>

      <br />

      <div id="download-status">
        <span>Contact admin to get key for download.</span>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block aboutcontent %}
Contact admin to obtain the key to download all midifiles 
and associated results that have been uploaded.
{% endblock %} 