body {
    font-family: "Lato", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin-top: 35px;
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #575757;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #474747;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #2e2e2e;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.midi-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #575757;
    position: relative;
}

.midi-dropping,
.midi-upload-wrap:hover {
    background-color: #929292;
    border: 4px dashed #ffffff;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #474747;
    padding: 60px 0;
}

#display-filename {
    border-radius: 4px;
    color: white;
    margin-bottom: 10px;
    padding: 20px;
    text-align: left;
}

.site-footer{
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
}

.site-footer h6{
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.site-footer a{
    color:#737373;
}

.site-footer a:hover{
    color:#3366cc;
    text-decoration:none;
}

.footer-links{
    padding-left:0;
    list-style:none;
    text-align:center;
}

.footer-links li{
    display:block
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
    color:#3366cc;
    text-decoration:none;
}

.footer-links.inline li{
    display:inline-block
}