{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="file-upload">

      <!-- Upload buttons -->
      <button
        class="file-upload-btn" 
        type="button">Upload</button>

      <!-- File input -->
      <div class="file-upload-midi-wrap">
        <input
          id="midi-input"
          class="file-upload-midi-input" type='file' accept=".mid" />
        <div class="file-upload-midi-drag-text">
          <h3>Drag and drop a midi file or click to select</h3>
        </div>
      </div>

      <br />
      
      <!-- Status bar -->
      <div id="status-bar"></div>

    </div>
  </div>
</div>
{% endblock %} 