{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="file-upload">

      <!-- Upload buttons -->
      <button
        class="file-upload-btn" 
        type="button">Upload</button>

      <!-- File input -->
      <div class="file-upload-midi-wrap">
        <input
          id="midi-input"
          class="file-upload-midi-input" type='file' accept=".mid" />
        <div class="file-upload-midi-drag-text">
          <h3>Drag and drop a midi file or click to select</h3>
        </div>
      </div>

      <br />
      
      <!-- Status bar -->
      <div id="status-bar"></div>
      
      <!-- Pitch Class Set Form -->
      <form id="pitch-class-set-form">
        <h5>Select the notes:</h5>
        <label><input type="checkbox" value="0" id="pitch-class-set-0">C</label>
        <label><input type="checkbox" value="1" id="pitch-class-set-1">C#/Db</label>
        <label><input type="checkbox" value="2" id="pitch-class-set-2">D</label>
        <label><input type="checkbox" value="3" id="pitch-class-set-3">D#/Eb</label>
        <label><input type="checkbox" value="4" id="pitch-class-set-4">E</label>
        <label><input type="checkbox" value="5" id="pitch-class-set-5">F</label>
        <label><input type="checkbox" value="6" id="pitch-class-set-6">F#/Gb</label>
        <label><input type="checkbox" value="7" id="pitch-class-set-7">G</label>
        <label><input type="checkbox" value="8" id="pitch-class-set-8">G#/Ab</label>
        <label><input type="checkbox" value="9" id="pitch-class-set-9">A</label>
        <label><input type="checkbox" value="10" id="pitch-class-set-10">A#/Bb</label>
        <label><input type="checkbox" value="11" id="pitch-class-set-11">B</label>
        <br>
        <button id="pitch-class-set-button" type="button">Get Pitch Class Set</button>
        <button id="pitch-class-set-clear" type="button">Clear</button>
      </form>

    </div>
  </div>
</div>
{% endblock %} 